// All themes should be included here.

@import
  '~@angular/material/theming',
  'arizona.scss';

@include mat-core();

@include angular-material-theme($arizona-theme);

$primary: map-get($arizona-theme,primary);
$accent: map-get($arizona-theme,accent);
$warn: map-get($arizona-theme,warn);
$foreground: map-get($arizona-theme,foreground);
$background: map-get($arizona-theme,background);
