// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
@import
  '~@angular/material/theming',
  '../abstracts/variables',
  '~@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();

$primary-color:$light-tan;
$secondary-color:$dark-tan;
$text-color: $very-dark-grey;
$brand-color: $black;
$dark-hover: $very-dark-tan;
