<div class="pane-back-wrapper">
  <div (click)="goBack()" class="pane-back"></div>
</div>
<div class="scroll-wrapper">
  <mat-card>
    <mat-card-title>{{details.name}}</mat-card-title>
    <mat-card-subtitle>id: {{details.id}}</mat-card-subtitle>
    <mat-card-content>
      <div class="detail-content">
        <!-- Instructor Details -->
        Certifications:
        <ul>
          <li *ngFor="let cert of details.certs">{{cert}}</li>
        </ul>

        Availability:
        <ul>
          <li *ngFor="let avail of details.availability">{{parseDateTime(avail[0])}} to {{parseDateTime(avail[1])}}</li>
        </ul>

      </div>
    </mat-card-content>
  </mat-card>
</div>
