@import
  '../../../sass/themes/default';

:host{
  display:flex;
  position:relative;
  width:85%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  padding: 10px 0 10px 0;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
    background: mat-color($primary,A700);
  }
}

#logo-container{
  position:absolute;
  width:100%;
  height:auto;
  z-index:1;
  pointer-events:none;
}

#img-tsd{
  width:10%;
  float:left;
}

#img-mantech{
  width:15%;
  float:right;
}

.us-map-container{
  display:flex;
  width:85%;
  height:100%;
  max-width:85%;
  max-height:100%;
  text-align:center;
  margin:auto;
  z-index:0;
}

#us-map{
  width:100%;
  max-width:100%;
  max-height:100%;
}

.frames{
  fill:none;
  stroke: mat-color($primary,A700);
  stroke-width:2;
}

.markers{
  fill:mat-color($warn);
  stroke: mat-color($primary,A700);
  stroke-width:1;
  stroke-opacity:0.5;
}

%blankstate{
  fill: mat-color($primary,lighter);
  opacity:0.4;
  stroke: mat-color($primary,A700);
}

%highlightstate{
  fill: mat-color($primary,lighter);
  stroke: mat-color($primary,A700);
  stroke-width:0.5;
}

// Non-continental states
#AK { @extend %blankstate; }        // Alaska
#HI { @extend %highlightstate; }    // Hawaii

// Continental states
#AL { @extend %blankstate; }        // Alabama
#AR { @extend %blankstate; }        // Arkansas
#AZ { @extend %highlightstate; }    // Arizona
#CA { @extend %highlightstate; }    // California
#CO { @extend %highlightstate; }    // Colorado
#CT { @extend %blankstate; }        // Connecticut
#DE { @extend %blankstate; }        // Delaware
#FL { @extend %blankstate; }        // Florida
#GA { @extend %highlightstate; }    // Georgia
#IA { @extend %blankstate; }        // Iowa
#ID { @extend %blankstate; }        // Idaho
#IL { @extend %blankstate; }        // Illinois
#IN { @extend %blankstate; }        // Indiana
#KS { @extend %highlightstate; }    // Kansas
#KY { @extend %highlightstate; }    // Kentucky
#LA { @extend %highlightstate; }    // Louisiana
#MA { @extend %blankstate; }        // Massachusetts
#MD { @extend %highlightstate; }    // Maryland
#ME { @extend %blankstate; }        // Maine
#MI { @extend %blankstate; }        // Michigan
#MN { @extend %blankstate; }        // Minnesota
#MO { @extend %blankstate; }        // Missouri
#MS { @extend %blankstate; }        // Mississippi
#MT { @extend %blankstate; }        // Montana
#NC { @extend %highlightstate; }    // North Carolina
#ND { @extend %blankstate; }        // North Dakota
#NE { @extend %blankstate; }        // Nebraska
#NH { @extend %blankstate; }        // New Hampshire
#NJ { @extend %blankstate; }        // New Jersey
#NM { @extend %blankstate; }        // New Mexico
#NV { @extend %blankstate; }        // Nevada
#NY { @extend %blankstate; }        // New York
#OH { @extend %blankstate; }        // Ohio
#OK { @extend %blankstate; }        // Oklahoma
#OR { @extend %blankstate; }        // Oregon
#PA { @extend %blankstate; }        // Pennsylvania
#RI { @extend %blankstate; }        // Rhode Island
#SC { @extend %blankstate; }        // South Carolina
#SD { @extend %blankstate; }        // South Dakota
#TN { @extend %blankstate; }        // Tennessee
#TX { @extend %highlightstate; }    // Texas
#UT { @extend %blankstate; }        // Utah
#VA { @extend %blankstate; }        // Virginia
#VT { @extend %blankstate; }        // Vermont
#WA { @extend %highlightstate; }    // Washington
#WI { @extend %blankstate; }        // Wisconsin
#WV { @extend %blankstate; }        // West Virginia
#WY { @extend %blankstate; }        // Wyoming

// Territories
#AS { @extend %blankstate; }        // American Samoa
#GU { @extend %blankstate; }        // Guam
#MP { @extend %blankstate; }        // Northern Mariana Islands
#PR { @extend %blankstate; }        // Puerto Rico
#VI { @extend %blankstate; }        // U.S. Virgin Islands

#kuwait { @extend %highlightstate; }  //Kuwait

.tooltips{
  visibility:hidden;

  rect{
    width:100%;
    height:100%;
    fill:mat-color($accent,lighter);
    stroke:mat-color($accent,darker);
    stroke-width:1;
  }
  text{
    font-size:1em;
    font-family:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
      "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
      Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    tspan{
      text-anchor:middle;
    }
  }
}
