@import
  '../../../sass/themes/default';

.circular{
  border-radius:50%;
}

.big-btn-wrapper{
  cursor:pointer;
  height:52px;
  display:flex;
  align-items:center;
  padding:0px 1px;
  margin: 0px 2px;
}

#navbar{
  display:flex;
  flex-direction:row;
  background:$secondary-color;
  overflow:hidden;
  padding:0;
}

#navbar button{
  background:$primary-color;
  margin:0px;
}

#head-home, #head-links, #head-personal {
  padding:0px;
  margin:0px;
}

#head-home > :first-child,
#head-links > :first-child,
#head-personal > :first-child{
  margin-left:10px;
}

#head-home > :last-child,
#head-links > :last-child,
#head-personal > :last-child{
  margin-right:10px;
}

#head-home .mat-icon{
  width:34px;
  height:34px;
  text-align:center;
  padding:0px;
}

#head-home .material-icons{
  font-size:34px;
}

#head-links{
  display:flex;
  flex-grow:1;
}

#head-personal{
  display:flex;
}

#head-personal button{
  padding:0px;
  min-width:36px;
}

.navbtnsm{
  color:blue;
  width:100%;
}
.navbtnmd{
  color:green;
  width:100%;
}
.navbtnlg{
  color:red;
  width:257px;
}
