<div id="navbar">
  <!-- Left Header Container -->
  <div id="head-home">
    <div class="big-btn-wrapper"routerLink="/">
      <button mat-button>
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>

  <!-- Middle Header Container -->
  <div id="head-links">
    <div class="big-btn-wrapper" routerLink="/operations" fxFlex="grow" fxFlex.gt-md="initial">
      <button mat-button class="navbtnxs" fxShow [fxShow.gt-md]="false"><strong>Operations</strong></button>
      <button mat-button class="navbtnlg" fxHide [fxHide.gt-md]="false"><strong>Operations</strong></button>
    </div>
    <div class="big-btn-wrapper" routerLink="/resources" fxFlex="grow" fxFlex.gt-md="initial">
      <button mat-button class="navbtnxs" fxShow [fxShow.gt-md]="false"><strong>Resources</strong></button>
      <button mat-button class="navbtnlg" fxHide [fxHide.gt-md]="false"><strong>Resources</strong></button>
    </div>
    <div class="big-btn-wrapper" routerLink="/knowmgmt" fxFlex="grow" fxFlex.gt-md="initial">
      <button mat-button class="navbtnxs" fxShow [fxShow.gt-md]="false"><strong>Knowledge Management</strong></button>
      <button mat-button class="navbtnlg" fxHide [fxHide.gt-md]="false"><strong>Knowledge Management</strong></button>
    </div>
    <div class="big-btn-wrapper" routerLink="/contractmgmt" fxFlex="grow" fxFlex.gt-md="initial">
      <button mat-button class="navbtnxs" fxShow [fxShow.gt-md]="false"><strong>Contract Management</strong></button>
      <button mat-button class="navbtnlg" fxHide [fxHide.gt-md]="false"><strong>Contract Management</strong></button>
    </div>
  </div>

  <!-- Right Header Container -->
  <div id="head-personal">
    <div class="big-btn-wrapper" routerLink="/account">
      <button mat-button class="circular">
        <mat-icon>person</mat-icon>
      </button>
    </div>
    <div class="big-btn-wrapper" routerLink="/settings">
      <button mat-button class="circular">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</div>
