@import
  '../../../sass/themes/default';

#navbar{
  display:flex;
  flex-direction:row;
  background:$secondary-color;
  overflow:hidden;
}

#head-left{
  padding:3px;
}

#head-mid{
  display:flex;
  flex-direction:row;
  justify-content:left;
  flex-grow:1;
  padding:3px 15px 3px 15px;
}

#head-mid > button{
  margin-right:5px;
  background:$primary-color;
}

#head-right{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  padding:3px;
}

#head-right > button{
  margin-left:3px;
  margin-right:3px;
  background:$primary-color;
}
