<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <ul>
      <li><a routerLink="/trainingreq">Training Requirements</a>
      <ul>
        <li><a routerLink="/">3.2.1 Total Package Fielding</a></li>
        <li><a routerLink="/">3.2.4 New Equipment Fielding &amp; Training</a></li>
        <li><a routerLink="/">3.2.5 Routing &amp; Tactical Network Management</a></li>
        <li><a routerLink="/">3.2.6 Tactical Power Generation &amp; Sustainment</a></li>
        <li><a routerLink="/">3.2.7 Tactical Transmission</a></li>
        <li><a routerLink="/">3.2.8 Fiber Optics Training &amp; Certifications</a></li>
        <li><a routerLink="/">3.2.10 Certification Training &amp; Testing</a></li>
        <li><a routerLink="/">3.2.12 Cyber Training Program</a></li>
        <li><a routerLink="/">3.2.14 Field Support Representatives</a></li>
        <li><a routerLink="/">3.2.16 Regional FORCEMOD Fielding &amp; Training</a></li>
        <li><a routerLink="/">3.2.17 Fielding &amp; Learning Areas</a></li>
      </ul></li>
      <li><a routerLink="/instructors">Instructor List</a></li>
      <li><a routerLink="/courses">Course List</a></li>
      <li><a routerLink="/facilitiesmaterials">Facilities/Materials</a></li>
      <li><a routerLink="/trainingassets">Training Assets</a></li>
    </ul>
  </mat-card-content>
</mat-card>
