:host{
  width:100%;
}

.override-mat-select-panel{
  max-width:none !important;
}

.mat-form-field{
  width:30%;
  margin-left:0px;
  margin-right:0px;
}

.four-eq-spacer{
  width:2.5%;
  margin-left:0px;
  margin-right:0px;
  display:inline-block;
}
