<div class="form-wrapper">
  <mat-form-field>
    <mat-label>Domain Listing (PWS)</mat-label>
    <mat-select [formControl]="domainControl" panelClass="override-mat-select-panel">
      <mat-option value="3.2.1">3.2.1 TPF</mat-option>
      <mat-option value="3.2.4">3.2.4 New Fielding</mat-option>
      <mat-option value="3.2.5">3.2.5 Routing &amp; Tactical Network MGMT</mat-option>
      <mat-option value="3.2.6">3.2.6 Tactical Power Generations &amp; Sustainment</mat-option>
      <mat-option value="3.2.7">3.2.7 Tactical Transmissions</mat-option>
      <mat-option value="3.2.8">3.2.8 Fiber Optics Training &amp; Certifications</mat-option>
      <mat-option value="3.2.10">3.2.10 Certifications Training &amp; Testing</mat-option>
      <mat-option value="3.2.12">3.2.12 Cyber Training</mat-option>
      <mat-option value="3.2.14">3.2.14 Field Support Representatives</mat-option>
      <mat-option value="3.2.16">3.2.16 Maintain &amp; Produce Media</mat-option>
      <mat-option value="3.2.17">3.2.17 Regional FORCEMOD Fielding and Training</mat-option>
      <mat-option value="3.2.18">3.2.18 Fielding and Learning Areas</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field [ngStyle]="{'visibility':domainControl.value ? 'visible' : 'hidden'}">
    <mat-label>Class/Course Listing</mat-label>
    <mat-select [formControl]="classControl" panelClass="override-mat-select-panel">
      <mat-option value="regionalhubnode">* Regional Hub Node</mat-option>
      <mat-option value="jnn">* Joint Network Node (JNN)</mat-option>
      <mat-option value="sigmod">* Signal Modernization</mat-option>
      <mat-option value="t2c2">* Transportable Tactical Command Communications (T2C2)</mat-option>
      <mat-option value="jenm">* Enterprise Network Manager (JENM)</mat-option>
      <mat-option value="stt">* Satellite Transportable Terminal (STT)</mat-option>
      <mat-option value="itsb">* Integrated Tactical Signal Battalion (ITSB)</mat-option>
      <mat-option value="ia">* Information Assurance (incl. Security Plus)</mat-option>
      <mat-option value="tcn">* Tactical Communications Node (TCN)</mat-option>
      <mat-option value="snap">* Single Node Access Point (SNAP)</mat-option>
      <mat-option value="cissp">* Certified Information System Security Professional (CISSP)</mat-option>
      <mat-option value="pop">* Point of Precense (POP)</mat-option>
      <mat-option value="snex">* Soldier Network Ex (SNEX)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field [ngStyle]="{'visibility':classControl.value ? 'visible' : 'hidden'}">
    <mat-label>POI Repository</mat-label>
    <mat-select (change)="findResults()" [formControl]="poiControl" panelClass="override-mat-select-panel">
      <mat-option value="networkconfig">* POI NCW and HNR Network Config and Operations</mat-option>
      <mat-option value="routermonitoring">* POI Router Monitoring and Troubleshooting</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-field-spacer">
  </div>

  <mat-form-field [ngStyle]="{'visibility':classControl.value ? 'visible' : 'hidden'}">
    <mat-label>Instructor</mat-label>
    <mat-select (change)="findResults()" [formControl]="instructorControl" panelClass="override-mat-select-panel">
      <mat-option value="inst1">* Instructor 1</mat-option>
      <mat-option value="inst2">* Instructor 2</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field [ngStyle]="{'visibility':classControl.value ? 'visible' : 'hidden'}">
    <mat-label>Date</mat-label>
    <input matInput (dateChange)="findResults()" [matDatepicker]="myDatepicker" placeholder="MM/DD/YYYY" [formControl]="dateControl">
    <mat-datepicker-toggle matPrefix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
</div>


<!--
<div class="four-eq-spacer"></div>

<mat-form-field>
  <mat-label>Domain Listing (PWS)</mat-label>
  <mat-select [formControl]="domainControl" panelClass="override-mat-select-panel">
    <mat-option value="3.2.1">3.2.1 TPF</mat-option>
    <mat-option value="3.2.4">3.2.4 New Fielding</mat-option>
    <mat-option value="3.2.5">3.2.5 Routing &amp; Tactical Network MGMT</mat-option>
    <mat-option value="3.2.6">3.2.6 Tactical Power Generations &amp; Sustainment</mat-option>
    <mat-option value="3.2.7">3.2.7 Tactical Transmissions</mat-option>
    <mat-option value="3.2.8">3.2.8 Fiber Optics Training &amp; Certifications</mat-option>
    <mat-option value="3.2.10">3.2.10 Certifications Training &amp; Testing</mat-option>
    <mat-option value="3.2.12">3.2.12 Cyber Training</mat-option>
    <mat-option value="3.2.14">3.2.14 Field Support Representatives</mat-option>
    <mat-option value="3.2.16">3.2.16 Maintain &amp; Produce Media</mat-option>
    <mat-option value="3.2.17">3.2.17 Regional FORCEMOD Fielding and Training</mat-option>
    <mat-option value="3.2.18">3.2.18 Fielding and Learning Areas</mat-option>
  </mat-select>
</mat-form-field>

<div class="four-eq-spacer"></div>

<mat-form-field [ngStyle]="{'visibility':domainControl.value ? 'visible' : 'hidden'}">
  <mat-label>Class/Course Listing</mat-label>
  <mat-select [formControl]="classControl" panelClass="override-mat-select-panel">
    <mat-option value="regionalhubnode">* Regional Hub Node</mat-option>
    <mat-option value="jnn">* Joint Network Node (JNN)</mat-option>
    <mat-option value="sigmod">* Signal Modernization</mat-option>
    <mat-option value="t2c2">* Transportable Tactical Command Communications (T2C2)</mat-option>
    <mat-option value="jenm">* Enterprise Network Manager (JENM)</mat-option>
    <mat-option value="stt">* Satellite Transportable Terminal (STT)</mat-option>
    <mat-option value="itsb">* Integrated Tactical Signal Battalion (ITSB)</mat-option>
    <mat-option value="ia">* Information Assurance (incl. Security Plus)</mat-option>
    <mat-option value="tcn">* Tactical Communications Node (TCN)</mat-option>
    <mat-option value="snap">* Single Node Access Point (SNAP)</mat-option>
    <mat-option value="cissp">* Certified Information System Security Professional (CISSP)</mat-option>
    <mat-option value="pop">* Point of Precense (POP)</mat-option>
    <mat-option value="snex">* Soldier Network Ex (SNEX)</mat-option>
  </mat-select>
</mat-form-field>

<div class="four-eq-spacer"></div>

<mat-form-field [ngStyle]="{'visibility':classControl.value ? 'visible' : 'hidden'}">
  <mat-label>POI Repository</mat-label>
  <mat-select (change)="findResults()" [formControl]="poiControl" panelClass="override-mat-select-panel">
    <mat-option value="networkconfig">* POI NCW and HNR Network Config and Operations</mat-option>
    <mat-option value="routermonitoring">* POI Router Monitoring and Troubleshooting</mat-option>
  </mat-select>
</mat-form-field>

<div class="four-eq-spacer"></div>

<br />

<div class="four-eq-spacer"></div>
<div class="form-field-spacer"></div>
<div class="four-eq-spacer"></div>

<mat-form-field [ngStyle]="{'visibility':classControl.value ? 'visible' : 'hidden'}">
  <mat-label>Instructor</mat-label>
  <mat-select (change)="findResults()" [formControl]="instructorControl" panelClass="override-mat-select-panel">
    <mat-option value="inst1">* Instructor 1</mat-option>
    <mat-option value="inst2">* Instructor 2</mat-option>
  </mat-select>
</mat-form-field>

<div class="four-eq-spacer"></div>

<mat-form-field [ngStyle]="{'visibility':classControl.value ? 'visible' : 'hidden'}">
  <mat-label>Date</mat-label>
  <input matInput (change)="findResults()" [matDatepicker]="myDatepicker" placeholder="MM/DD/YYYY" [formControl]="dateControl">
  <mat-datepicker-toggle matPrefix [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>
</mat-form-field>

<div class="four-eq-spacer"></div>
-->
