<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <ul>
      <li><a routerLink="/trainingreq">Training Requirements</a>
      <ul>
        <li>3.2.1 Total Package Fielding</li>
        <li>3.2.4 New Equipment Fielding &amp; Training</li>
        <li>3.2.5 Routing &amp; Tactical Network Management</li>
        <li>3.2.6 Tactical Power Generation &amp; Sustainment</li>
        <li>3.2.7 Tactical Transmission</li>
        <li>3.2.8 Fiber Optics Training &amp; Certifications</li>
        <li>3.2.10 Certification Training &amp; Testing</li>
        <li>3.2.12 Cyber Training Program</li>
        <li>3.2.14 Field Support Representatives</li>
        <li>3.2.16 Regional FORCEMOD Fielding &amp; Training</li>
        <li>3.2.17 Fielding &amp; Learning Areas</li>
      </ul></li>
      <li><a routerLink="/instructors">Instructor List</a></li>
      <li><a routerLink="/courses">Course List</a></li>
      <li><a routerLink="/facilitiesmaterials">Facilities/Materials</a></li>
      <li><a routerLink="/trainingassets">Training Assets</a></li>
    </ul>
  </mat-card-content>
</mat-card>
