<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <ul>
      <li>Resource Availability
        <ul>
          <li>Personnel</li>
          <li>Facilities/Materials</li>
        </ul>
      </li>
      <li><a routerLink="/trainingreq">Training Requirements</a>
        <ul>
          <li>3.2.1 Total Package Fielding</li>
          <li>3.2.4 New Equipment Fielding &amp; Training</li>
          <li>3.2.5 Routing &amp; Tactical Network Management</li>
          <li>3.2.6 Tactical Power Generation &amp; Sustainment</li>
          <li>3.2.7 Tactical Transmission</li>
          <li>3.2.8 Fiber Optics Training &amp; Certifications</li>
          <li>3.2.10 Certification Training &amp; Testing</li>
          <li>3.2.12 Cyber Training Program</li>
          <li>3.2.14 Field Support Representatives</li>
          <li>3.2.16 Maintain and Produce Media</li>
          <li>3.2.17 Regional FORCEMOD Fielding &amp; Training</li>
          <li>3.2.18 Fielding &amp; Learning Areas</li>
        </ul>
      </li>
      <li><a routerLink="/instructors">Instructor Skills Matrix</a></li>
        <ul>
          <li>Certifications</li>
          <li>Qualifications</li>
        </ul>
      <li><a routerLink="/courses">Course List</a></li>
        <ul>
          <li>POIs Updates</li>
        </ul>
      <li><a routerLink="/facilitiesmaterials">Mission Checklist</a></li>
      <!-- Remove /trainingassets and /devtracker -->
    </ul>
  </mat-card-content>
</mat-card>
