<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <ul>
      <li><a routerLink="/aar">AARs</a></li>
      <li><a routerLink="/sitrep">Situation Reports</a></li>
      <li><a routerLink="/ll">Lessons Learned</a></li>
      <li><a routerLink="/fieldobs">Field Observations</a></li>
      <li><a routerLink="/coursehist">Course History</a></li>
      <li><a routerLink="/surveys">Customer Satisfaction Surveys</a></li>
      <li><a routerLink="/trainingfaqs">Training FAQs</a></li>
    </ul>
  </mat-card-content>
</mat-card>
