<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <ul>
      <li><a routerLink="/aar"><strong>AARs</strong></a></li>
      <li><a routerLink="/sitrep"><strong>Situation Reports</strong></a></li>
      <li><a routerLink="/ll"><strong>Lessons Learned</strong></a></li>
      <li><a routerLink="/fieldobs"><strong>Field Observations</strong></a></li>
      <li><a routerLink="/coursehist"><strong>Course History</strong></a></li>
      <li><a routerLink="/surveys"><strong>Customer Satisfaction Surveys</strong></a></li>
      <li><a routerLink="/trainingfaqs"><strong>Training FAQs</strong></a></li>
    </ul>
  </mat-card-content>
</mat-card>
