@import '../../../sass/styles';

:host{
  width:85%;
  max-height:100%;
  margin: 10px auto;
  display:flex;
  flex-direction:column;
}

.mat-card{
  padding:10px;
}

.mat-card-title{
  font-weight:bold;
  font-size:100px;
  text-align:center;
}

.mat-card-content{
  text-align:center;
  font-size:1em;

  & > a{
    cursor:pointer;
  }
}
