<mat-toolbar id="navbar">
  <!-- Left Header Container -->
  <div id="head-left">
    Logo
  </div>

  <!-- Middle Header Container -->
  <div id="head-mid">
    <button mat-button>Current Operations</button>
    <button mat-button>Training Readiness</button>
    <button mat-button>Knowledge Management</button>
    <button mat-button>Program Data</button>
  </div>

  <!-- Right Header Container -->
  <div id="head-right">
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>
