$row-height: 22px;

.cal-event {
  padding: 0 10px;
  font-size: 12px;
  margin-left: 1px;
  margin-right: 1px;
  height: $row-height;
  line-height: $row-height;
  background-color: #d1e8ff;
  border: 1px solid #1e90ff;
  color: #1e90ff;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cal-event-title:link {
  color: currentColor;
}

.cal-starts-within-month.cal-event {
  border-top-left-radius: $row-height / 2;
  border-bottom-left-radius: $row-height / 2;
}

.cal-ends-within-month.cal-event {
  border-top-right-radius: $row-height / 2;
  border-bottom-right-radius: $row-height / 2;
}
