<div class="cal-alt-month-view">
  <app-alt-calendar-month-view-header
    [days]="view.days"
    [locale]="locale"
    [customTemplate]="headerTemplate">
  </app-alt-calendar-month-view-header>

  <div *ngFor="let eventRow of view.eventRows; trackBy:trackByIndex" #eventRowContainer class="cal-events-row">
    <div
      *ngFor="let altMonthEvent of eventRow.row; trackBy:trackByEventId"
      #event
      class="cal-event-container"
      [ngClass]="altMonthEvent.event?.cssClass"
      [style.width]="((100 / view.days.length) * altMonthEvent.span) + '%'"
      [style.marginLeft]="((100 / view.days.length) * altMonthEvent.offset) + '%'">
      <app-alt-calendar-month-view-event
        [altMonthEvent]="altMonthEvent"
        [tooltipPlacement]="tooltipPlacement"
        [tooltipTemplate]="tooltipTemplate"
        [tooltipAppendToBody]="tooltipAppendToBody"
        [customTemplate]="eventTemplate"
        [eventTitleTemplate]="eventTitleTemplate"
        (eventClicked)="eventClicked.emit({event: altMonthEvent.event})">
      </app-alt-calendar-month-view-event>
    </div>
  </div>
</div>
