@import '../../../../sass/styles';

:host{
  display:flex;
  justify-content:space-between;
  align-content:center;
  flex-wrap:wrap;
}

.nav-btn-grp{
  display:block;

  button{
    margin-left:1px;
    margin-right:1px;
  }
}

.view-btn-grp{
  display:block;

  button{
    margin-left:1px;
    margin-right:1px;
  }
}
