<div class="nav-btn-grp">
  <button mat-flat-button
    mwlCalendarPreviousView
    [view]="(view === 'alt-month' ? 'month' : view)"
    [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)">
    Previous
  </button>
  <button mat-stroked-button
    color="accent"
    mwlCalendarToday
    [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)">
    Today
  </button>
  <button mat-flat-button
    mwlCalendarNextView
    [view]="(view === 'alt-month' ? 'month' : view)"
    [(viewDate)]="viewDate"
    (viewDateChange)="viewDateChange.next(viewDate)">
    Next
  </button>
</div>

<div class="title-grp">
  <h3>{{ viewDate | calendarDate:((view === 'alt-month' ? 'month' : view) + 'ViewTitle'):locale }}</h3>
</div>

<div class="view-btn-grp">
  <button mat-flat-button
    (click)="viewChange.emit('month')"
    [class.active]="view === 'month'">
    Month
  </button>
  <button mat-flat-button
    (click)="viewChange.emit('alt-month')"
    [class.active]="view === 'alt-month'">
    Alt Month
  </button>
<!-- Hiding Week & Day views (pending deletion)
  <button mat-flat-button
    (click)="viewChange.emit('week')"
    [class.active]="view === 'week'">
    Week
  </button>
  <button mat-flat-button
    (click)="viewChange.emit('day')"
    [class.active]="view === 'day'">
    Day
  </button>
-->
</div>
