<!-- Page Container -->
<div id="pg-container">

  <!-- Header Frame -->
  <div id="header-frame" layout="row">
    <!-- Left Header Container -->
    <div id="head-left">
      Head Left
    </div>

    <!-- Middle Header Container -->
    <div id="head-mid">
      <div class="navitem">Head Mid1</div>
      <div class="navitem">Head Mid2</div>
      <div class="navitem">Head Mid3</div>
    </div>

    <!-- Right Header Container -->
    <div id="head-right">
      <!--<mat-icon-button id="btn-nav-profile"></mat-icon-button>
      <mat-icon-button id="btn-nav-settings"></mat-icon-button>-->
    </div>
  </div>

  <!-- Content Frame -->
  <div id="content-frame" layout="column">Content</div>

  <!-- Footer Frame -->
  <div id="footer-frame" layout="row">
    <!-- Left Footer Container -->
    <div id="foot-left"></div>
    <!-- Middle Footer Container -->
    <div id="foot-mid">
      Miscellaneous info such as address and disclaimers and licenses.
      Maybe put a contact link down here with a phone number.
      We could even throw in another logo right here.
    </div>
    <!-- Right Footer Container -->
    <div id="foot-right"></div>
  </div>
</div>
