// -----------------------------------------------------------------------------
// This file contains styles that are specific to the top component.
// -----------------------------------------------------------------------------
#worldmap{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-grow:1;
}

#worldmap > img{
  width:90%;
  max-height:100%;
}
