<div class="cal-header">
  <app-calendar-utils-calendar-header
    [(view)]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="updateCalendarEvents()"
    (viewChange)="updateCalendarEvents()">
  </app-calendar-utils-calendar-header>

  <div class="cal-utilities">
    <mat-form-field>
      <mat-icon matPrefix color="accent">search</mat-icon>
      <input matInput [(ngModel)]="searchText" (input)="onSearchChange($event.target.value)"
        placeholder="Search" color="accent">
    </mat-form-field>
    <mat-form-field>
      <mat-icon matPrefix color="accent">domain</mat-icon>
      <mat-select placeholder="Location" [ngModel]="locationSelect" (ngModelChange)="onLocationSelect($event)">
        <mat-option>All</mat-option>
        <ng-container *ngIf="searchText">
            <mat-option *ngFor="let location of searchList | filterLocations" [value]="location">{{location}}</mat-option>
        </ng-container>
        <ng-container *ngIf="!searchText">
            <mat-option *ngFor="let location of calendarEventsComplete | filterLocations" [value]="location">{{location}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<!-- Custom template for tooltips (all views) -->
<ng-template
    #customTooltipTemplate
    let-contents="contents"
    let-placement="placement"
    let-event="event">

    <div class="cal-tooltip" [ngClass]="'cal-tooltip-' + placement">
        <div class="cal-tooltip-arrow"></div>
        <div class="cal-tooltip-inner">
          <strong>{{event.title}}</strong>
          <span *ngIf="event.meta.location"><br />{{event.meta.location}}</span>
        </div>
    </div>
</ng-template>

<!-- Custom template for month-view day cells -->
<ng-template
  #monthCellTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="customTooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody">

  <div class="cal-cell-top">
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cal-events" *ngIf="day.events.length > 0">
    <div class="cal-event"
      *ngFor="let event of day.events"
      [style.backgroundColor]="event.color?.primary"
      [ngClass]="'sq-cal-event'"
      (mouseenter)="highlightDay.emit({event: event})"
      (mouseleave)="unhighlightDay.emit({event: event})"
      [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
      [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="event"
      [tooltipTemplate]="customTooltipTemplate"
      [tooltipAppendToBody]="tooltipAppendToBody"
      (click)="$event.stopPropagation(); eventClicked.emit({event: event})">
    </div>
  </div>
</ng-template>

<!-- Custom template for week-view events -->
<ng-template
  #weekViewEventTemplate
  let-weekEvent="weekEvent"
  let-tooltipPlacement="tooltipPlacement"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="customTooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody">

  <!-- Custom template for event title -->
  <ng-template
    #weekViewEventTitle
    let-event="event"
    let-view="view">
    <a
      class="cal-event-title"
      [style.font-size.em]="1.2"
      href="javascript:;">

      <strong>{{event.title}}</strong>
      <span *ngIf="event.meta.location">: {{event.meta.location}}</span>
      <span *ngIf="!event.meta.location">: unknown location</span>
    </a>
  </ng-template>

  <div class="cal-event"
    [style.backgroundColor]="weekEvent.event.color?.secondary"
    [style.borderColor]="weekEvent.event.color?.primary"
    [mwlCalendarTooltip]="weekEvent.event.title | calendarEventTitle:'weekTooltip':weekEvent.event"
    [tooltipPlacement]="tooltipPlacement"
    [tooltipEvent]="weekEvent.event"
    [tooltipTemplate]="customTooltipTemplate"
    [tooltipAppendToBody]="tooltipAppendToBody">
    <mwl-calendar-event-actions [event]="weekEvent.event"></mwl-calendar-event-actions>
    &ngsp;
    <mwl-calendar-event-title
      [event]="weekEvent.event"
      view="week"
      [customTemplate]="weekViewEventTitle"
      (mwlClick)="eventClicked.emit()">
    </mwl-calendar-event-title>
  </div>
</ng-template>

<!-- Custom template for day-view events -->
<ng-template
  #dayViewEventTemplate
  let-dayEvent="dayEvent"
  let-tooltipPlacement="tooltipPlacement"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="customTooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody">

  <!-- Custom template for event title -->
  <ng-template
    #dayViewEventTitle
    let-event="event"
    let-view="view">
    <a
      class="cal-event-title rotate90"
      [style.font-size.em]="1.2"
      href="javascript:;">

      <strong>{{event.title}}</strong>
      <span *ngIf="event.meta.location">: {{event.meta.location}}</span>
      <span *ngIf="!event.meta.location">: unknown location</span>
    </a>
  </ng-template>

  <div
    class="cal-event flex-center"
    [style.backgroundColor]="dayEvent.event.color?.secondary"
    [style.borderColor]="dayEvent.event.color?.primary"
    [mwlCalendarTooltip]="dayEvent.event.title | calendarEventTitle:'dayTooltip':dayEvent.event"
    [tooltipPlacement]="tooltipPlacement"
    [tooltipEvent]="dayEvent.event"
    [tooltipTemplate]="customTooltipTemplate"
    [tooltipAppendToBody]="tooltipAppendToBody">

    <mwl-calendar-event-actions [event]="dayEvent.event"></mwl-calendar-event-actions>
    &ngsp;
    <div>
      <mwl-calendar-event-title
        [event]="dayEvent.event"
        [customTemplate]="dayViewEventTitle"
        view="day"
        (mwlClick)="eventClicked.emit()">
      </mwl-calendar-event-title>
    </div>
  </div>
</ng-template>

<div [ngSwitch]="view">
  <!-- Month View -->
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="calendarEvents"
    (eventClicked)="eventClicked($event)"
    [cellTemplate]="monthCellTemplate">
  </mwl-calendar-month-view>
  <!-- Alt Month View -->
  <app-alt-calendar-month-view
    *ngSwitchCase="'alt-month'"
    [viewDate]="viewDate"
    [events]="calendarEvents"
    (eventClicked)="eventClicked($event)">
  </app-alt-calendar-month-view>
  <!-- Week View -->
<!-- Hiding Week View pending deletion
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="calendarEvents"
    (eventClicked)="eventClicked($event)"
    [eventTemplate]="weekViewEventTemplate">
  </mwl-calendar-week-view>
-->
  <!-- Day View -->
<!-- Hiding Day View pending deletion
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="calendarEvents"
    [eventTemplate]="dayViewEventTemplate"
    [eventWidth]="30"
    (eventClicked)="eventClicked($event)">
  </mwl-calendar-day-view>
-->
  <!-- TODO: Insert event detail view -->
</div>
