@import '../../../sass/styles';

.sq-cal-event{
  width: 15px;
  height: 15px;
  border-radius: 10%;
}

.cal-header{
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
}

app-calendar-utils-calendar-header{
  flex-grow:2;
}

.cal-utilities{
  display:flex;
  justify-content:flex-end;
  flex-grow:1;
  flex-wrap:wrap;

  .mat-form-field{
    margin-left:2px;
    margin-right:2px;
  }
}

.rotate90{
  writing-mode:vertical-lr;
  text-align:center;
  /*
  transform: rotate(90deg);
  transform-origin: left, top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin:left, top;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin:left, top;
  */
}

.flex-center{
  display:flex;
  justify-content:center;
}

.cal-event{
  cursor:pointer;
}
