<div class="cal-header">
  <app-calendar-utils-calendar-header
    [(view)]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="updateCalendarEvents()"
    (viewChange)="updateCalendarEvents()">
  </app-calendar-utils-calendar-header>

  <div class="cal-utilities">
    <mat-form-field>
      <mat-icon matPrefix color="accent">search</mat-icon>
      <input matInput [(ngModel)]="searchText" (input)="onSearchChange($event.target.value)"
        placeholder="Search" color="accent">
    </mat-form-field>
    <mat-form-field>
      <mat-icon matPrefix color="accent">domain</mat-icon>
      <mat-select placeholder="Location" [ngModel]="locationSelect" (ngModelChange)="onLocationSelect($event)">
        <mat-option>All</mat-option>
        <ng-container *ngIf="searchText">
            <mat-option *ngFor="let location of searchList | filterLocations" [value]="location">{{location}}</mat-option>
        </ng-container>
        <ng-container *ngIf="!searchText">
            <mat-option *ngFor="let location of calendarEventsComplete | filterLocations" [value]="location">{{location}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<ng-template
    #customTooltipTemplate
    let-contents="contents"
    let-placement="placement"
    let-event="event">

    <div class="cal-tooltip" [ngClass]="'cal-tooltip-' + placement">
        <div class="cal-tooltip-arrow"></div>
        <div class="cal-tooltip-inner">
          <strong>{{event.title}}</strong>
          <span *ngIf="event.meta.location"><br />{{event.meta.location}}</span>
        </div>
    </div>
</ng-template>

<ng-template
  #monthCellTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="customTooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody">

  <div class="cal-cell-top">
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cal-events" *ngIf="day.events.length > 0">
    <div class="cal-event"
      *ngFor="let event of day.events"
      [style.backgroundColor]="event.color?.primary"
      [ngClass]="'sq-cal-event'"
      (mouseenter)="highlightDay.emit({event: event})"
      (mouseleave)="unhighlightDay.emit({event: event})"
      [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
      [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="event"
      [tooltipTemplate]="customTooltipTemplate"
      [tooltipAppendToBody]="tooltipAppendToBody"
      (click)="$event.stopPropagation(); eventClicked.emit({event: event})">
    </div>
  </div>
</ng-template>

<ng-template
  #weekViewEventTemplate
  let-weekEvent="weekEvent"
  let-tooltipPlacement="tooltipPlacement"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="customTooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody">

  <div class="cal-event"
    [style.backgroundColor]="weekEvent.event.color?.secondary"
    [style.borderColor]="weekEvent.event.color?.primary"
    [mwlCalendarTooltip]="weekEvent.event.title | calendarEventTitle:'weekTooltip':weekEvent.event"
    [tooltipPlacement]="tooltipPlacement"
    [tooltipEvent]="weekEvent.event"
    [tooltipTemplate]="customTooltipTemplate"
    [tooltipAppendToBody]="tooltipAppendToBody">
    <mwl-calendar-event-actions [event]="weekEvent.event"></mwl-calendar-event-actions>
    &ngsp;
    <strong>
      <mwl-calendar-event-title
        [event]="weekEvent.event"
        view="week"
        (mwlClick)="eventClicked.emit()">
      </mwl-calendar-event-title>
    </strong>
    <span *ngIf="weekEvent.event.meta.location">: {{weekEvent.event.meta.location}}</span>
    <span *ngIf="!weekEvent.event.meta.location">: unknown location</span>
  </div>
</ng-template>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="calendarEvents"
    (eventClicked)="eventClicked($event)"
    [cellTemplate]="monthCellTemplate">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="calendarEvents"
    (eventClicked)="eventClicked($event)"
    [eventTemplate]="weekViewEventTemplate">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="calendarEvents"
    (eventClicked)="eventClicked($event)">
  </mwl-calendar-day-view>
</div>
