<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    Any and all types of files can be linked like the ones below:
    <br />
    <ul>
      <li> <a href="../../assets/docs/link-test.docx" target="_blank">Word Doc Link</a></li>
      <li> <a href="../../assets/docs/link-test.pptx" target="_blank">Powerpoint Doc Link</a></li>
      <li> <a href="../../assets/docs/link-test.xlsx" target="_blank">Excel Doc Link</a></li>
      <li> <a href="../../assets/docs/link-test.pdf" target="_blank">PDF Doc Link</a></li>
    </ul>
  </mat-card-content>
</mat-card>
