@import '../../../sass/styles';

:host{
  display:flex;
  position:relative;
  width:85%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
}

#logo-container{
  position:absolute;
  width:100%;
  height:auto;
  z-index:-1;
  pointer-events:none;
}

#img-tsd{
  width:10%;
  float:left;
}

#img-mantech{
  width:15%;
  float:right;
}

.login-container{
  width:40%;
  min-width:220px;
  min-height:300px;
  margin:auto;
  padding: 0% !important;
	background-color: #fff;
	-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}

.login-box-header{
	width: 100%;
  background-color: mat-color($primary,darker);
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  padding: 2%;
}

.login-box-body{
  display:flex;
  flex-direction:column;
  padding:5%;
	width: 100%
}

.login-icon{
	margin-top: -2px;
}

.justifier {
	width: 100%;
	padding-bottom: 2%;
}

.login-button{
	width: 100%;
	padding:1.5% !important;
  background-color: mat-color($primary);
  font-size: 1.2em;
}
