// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#footer-container{
  display:flex;
  flex-direction:row;
  padding:2px;
  overflow:hidden;
  background:$secondary-color;
}

#foot-left{
  display:flex;
  flex-basis:20%;
}

#foot-mid{
  text-align:center;
  flex-grow:1;
}

#foot-right{
  flex-basis:20%;
}
