// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#foot-left{
  display:flex;
  flex-basis:20%;
  padding:3px;
}

#foot-mid{
  text-align:center;
  flex-grow:1;
  padding:3px;
}

#foot-right{
  flex-basis:20%;
  padding:3px;
}
