/* Highest level layout styling */

#pg-container{
  display:flex;
  flex-direction:column;
  height:100%;
  background-image:url("~/assets/images/camobg-pale.jpg");
  background-repeat:repeat;
  overflow:hidden;
}

#content-frame{
  display:flex;
  flex-direction:column;
  flex-grow:1;
  padding:3px;
  overflow:hidden;
}
