@import '../../../../sass/styles';

:host{
  width:85%;
  max-height:100%;
  margin: 0px auto;
  display:flex;
  flex-direction:column;
}

.scroll-wrapper{
  flex-grow:1;
  overflow-y:auto;
  overflow-x:hidden;
}

.top-margin, .bottom-margin{
  display:block;
  height:10px;
  width:100%;
}

.mat-card-title{
  font-weight:bold;
}

.mat-card-content{
  font-size:1em;
}
