<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <ul>
      <li><strong>Instructor Management</strong></li>
        <ul>
          <li><a routerLink="/instructors">Instructor Skills Matrix</a></li>
          <li>Update Instructor Data</li>
        </ul>
      <li><a routerLink="/trainingreq"><strong>Training Requirements</strong></a>
        <ul>
          <li>3.2.1 Total Package Fielding</li>
          <li>3.2.4 New Equipment Fielding &amp; Training</li>
          <li>3.2.5 Routing &amp; Tactical Network Management</li>
          <li>3.2.6 Tactical Power Generation &amp; Sustainment</li>
          <li>3.2.7 Tactical Transmission</li>
          <li>3.2.8 Fiber Optics Training &amp; Certifications</li>
          <li>3.2.10 Certification Training &amp; Testing</li>
          <li>3.2.12 Cyber Training Program</li>
          <li>3.2.14 Field Support Representatives</li>
          <li>3.2.16 Maintain and Produce Media</li>
          <li>3.2.17 Regional FORCEMOD Fielding &amp; Training</li>
          <li>3.2.18 Fielding &amp; Learning Areas</li>
        </ul>
      </li>
      <li><a routerLink="/courses"><strong>Course List</strong></a></li>
        <ul>
          <li>POIs Listing</li>
          <li>Update (LCMS (Absorb - ADDIE)</li>
        </ul>
      <li><a routerLink="/missionchecklist"><strong>Mission Checklist(s)</strong></a></li>
    </ul>
  </mat-card-content>
</mat-card>
