<div class="scroll-wrapper">
  <mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-content>
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
      Stuff goes here.<br />
    </mat-card-content>
  </mat-card>
</div>
