<div class="scroll-wrapper">
  <mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-content>
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
      This is a demonstration of scrolling capability.<br />
    </mat-card-content>
  </mat-card>
</div>
